extends layout
block content

    include toolbar

    div(style="margin-top: 48px;")
        v-app
            v-content.brown.lighten-5
                v-container.pa-0(:fluid="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly")

                    v-flex(md12='')
                        v-card.pa-3(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'elevation-0 mb-4 pt-4' : 'elevation-10 my-4'")

                            v-card-title.headline.pa-0 유실물 등록
                            //h2= func()

                            if image == null
                                v-divider.my-3

                                form(action='/lost' method='post' enctype="multipart/form-data", id='image-form')
                                    input(id='file', type='file', name='file', v-on:change='imageChange', accept="image/*" style='display: none;')
                                    v-layout(xs12, align-center)
                                        v-card(width='100%')
                                            v-card-title.grey.lighten-5
                                                div
                                                    h2.headline.my-0.py-0 이미지 업로드

                                            v-divider.my-0
                                            v-progress-linear.my-0(:indeterminate="true", height="2", color='deep-orange darken-3', v-if='isProgress')

                                            v-flex(xs12, text-xs-center)
                                                img.pa-2(:src='imgSrc', id='uploaded-img', width='50%', v-if='isFile')

                                            v-flex.py-5(xs12, text-xs-center, v-if='!isFile')
                                                v-btn(width='100%', color='info', v-on:click='browseClick', flat, large) 열기

                                            v-card-actions.right(v-if='isFile')
                                                v-btn(flat, small, color='red', v-on:click='removeFile') 삭제
                                                v-btn(flat, small, color='orange', v-on:click='browseClick') 변경
                                                v-btn(flat, small, color='info', v-on:click='uploadImage') 업로드

                                v-subheader * JPG, PNG, GIF 파일만 업로드 가능합니다.

                            else
                                //hr.py-3
                                v-divider.my-3
                                v-form.form-horizontal(ref="form")
                                    v-layout(row, wrap)
                                        v-flex(sm2, xs12)
                                            v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 이미지:
                                        v-flex.mb-5(sm10, xs12)
                                            //v-card(:width='$vuetify.breakpoint.xsOnly ? "100%" : "60%"', :class="$vuetify.breakpoint.xsOnly ? 'elevation-2' : 'elevation-10'")
                                            v-card.dal-card(:style='$vuetify.breakpoint.xsOnly ? "width : 100%;" : "width : 60%;"', hover, raised)
                                                img(src= image, width="100%")
                                                //v-card-media(src= image , height='500px')

                                        v-flex(xs12)
                                            v-divider.mb-4

                                        v-flex(sm2, xs12)
                                            v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 카테고리:
                                        v-flex.pb-4(sm10, xs12)
                                            v-flex(xs12, d-inline-flex)
                                                v-progress-circular(indeterminate, color="orange darken-2", v-show='isRecognitionProgress')
                                                .subheading.ml-2.mt-1(v-show='isRecognitionProgress') 이미지 인식 중입니다. 잠시만 기다려주세요.

                                            v-flex(xs12, d-inline-flex, v-if='!isRecognitionProgress')
                                                v-breadcrumbs(v-if="category != null")
                                                    v-icon(slot='divider') chevron_right
                                                    v-breadcrumbs-item(v-for='item in getCategoryBreadcrumbs()', :key='item')
                                                        | {{ item }}
                                                v-btn.mt-2(color='orange darken-2', dark, @click.native='categoryDialog = true') 카테고리 선택



                                            v-flex(sm8, xs12)
                                                v-expansion-panel.elevation-0(v-if='recognitionData != null', popout)
                                                    v-expansion-panel-content
                                                        div.pl-0.grey--text(slot='header') 이미지 인식 결과 보기
                                                        v-data-table(:headers="recognitionDataHeaders", :items='recognitionData', hide-actions, disable-initial-sort)
                                                            template(slot='items', slot-scope='props')
                                                                tr(@click="changedCateogryFromResult(props.item);")
                                                                    td {{getCategoryStringFromResult(props.item.title)}}
                                                                    td.text-xs-right {{props.item.accuracy}}%
                                                        //v-card.pb-2(v-for='rd in recognitionData')
                                                        //    v-card-text.py-0(@click="changedCateogryFromResult(rd);")
                                                        //        | {{ rd.title }} - {{ rd.accuracy }}%

                                        v-flex(xs12)
                                            v-divider.mb-4


                                        v-flex(sm2, xs12)
                                            v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 브랜드:
                                        v-flex.pb-4(sm10, xs12)
                                            v-select(color="orange darken-2", label='브랜드명을 입력하세요.', chips='', tags='', clearable='', v-model='logos')
                                                template(slot='selection', slot-scope='data')
                                                    v-chip.elevation-2( close='', @input='removeLogo(data.item)', :selected='data.selected', color="orange darken-2", text-color="white")
                                                        strong.title.mr-1 #
                                                        strong {{ data.item }}
                                            .caption.grey--text.mt-2(v-if="logos.length <= 0") 인식된 브랜드가 없습니다.


                                        v-flex(xs12)
                                            v-divider.mb-4


                                        v-flex(sm2, xs12)
                                            v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 해시 태그:
                                        v-flex(sm10, xs12)
                                            v-select(color="orange darken-2", label='태그를 입력하세요.', chips='', tags='', clearable='', v-model='hashtags' )
                                                template(slot='selection', slot-scope='data')
                                                    v-chip.elevation-2(close='', @input='removeHashtag(data.item)', :selected='data.selected', color="orange darken-2", text-color="white")
                                                        strong.title.mr-1 #
                                                        strong {{ data.item }}


                                        v-flex(sm2, xs12)
                                            v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 추천 태그:
                                        v-flex.pb-4(sm10, xs12)
                                            v-chip(v-for='tag in suggestTag', :class="selectedSuggestTag.includes(tag) > 0 ? 'elevation-2' : 'elevation-0'", :color='selectedSuggestTag.includes(tag) > 0 ? "orange darken-2" : "grey"', text-color='white', @click='changeSuggestTag(tag)')
                                                strong.title.mr-1 #
                                                strong {{ tag }}
                                            v-flex(d-flex-inline)
                                                v-btn(flat, color='error', @click='selectedSuggestTag = []') 초기화
                                                v-btn(flat, color='orange darken-2', @click='selectedSuggestTag = suggestTag.slice(0)') 전체선택
                                            .caption.grey--text.mt-2 클릭해서 활성화


                                        v-flex(xs12)
                                            v-divider.mb-4


                                        v-flex(sm2, xs12)
                                            v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 상세설명:
                                        v-flex.pb-4(sm10, xs12)
                                            v-text-field(color="orange darken-2", label='상세한 설명을 입력하세요.', v-model='description', name='description', multi-line)


                                        v-flex(xs12)
                                            v-divider.mb-4


                                        v-flex(sm2, xs12)
                                            v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 색상:
                                        v-flex.pb-4(sm10, xs12)
                                            //v-container
                                            //    v-layout
                                            //v-chip(v-for='color in colors', color="red")
                                            //    strong {{color.red}}
                                            v-flex(v-for='color in colors', d-inline-flex)
                                                v-card.mb-3.mr-3.elevation-4.dal-small-card(hover, raised, width="80", height="40", :style="'background-color: rgba(' + color.red + ',' + color.green + ',' + color.blue + ',1);'")


                                        v-flex(xs12)
                                            v-divider.mb-4


                                        v-flex(sm2, xs12)
                                            v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 습득일:
                                        v-flex(sm10, xs12)
                                            v-date-picker.elevation-10.mb-3.hidden-xs-only(v-model='date', :landscape='true', color="brown darken-1", name='date')
                                                //v-date-picker.mt-3(full-width landscape v-model='picker', color="green lighten-1")
                                            v-dialog.hidden-sm-and-up(ref='dialog', persistent, v-model='modal', lazy, full-width, width='330px', :return-value.sync='date')
                                                v-text-field(color="orange darken-2", slot='activator', label='습득일', v-model='date', readonly)
                                                v-date-picker(v-model='date', scrollable, lazy, full-width, width='330px', color="brown darken-1", name='date')
                                                    v-spacer
                                                    v-btn(flat='', color='primary', @click='modal = false') Cancel
                                                    v-btn(flat='', color='primary', @click='$refs.dialog.save(date)') OK


                                        v-flex(xs12)
                                            v-divider.my-4


                                        v-flex(sm2, xs12)
                                            v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 습득장소:
                                        v-flex(sm10, xs12)
                                            v-layout( wrap)
                                                v-flex(xs5, md3)
                                                    v-select.xs3(color="orange darken-2", :items='buildings', v-model='selectedBuilding', label='건물 선택', auto, append-icon='account_balance', autocomplete)
                                                v-flex.ml-2(xs4, md2)
                                                    v-select.xs3(color="orange darken-2", :items='rooms', v-model='selectedRoom', label='방 선택', auto, append-icon='room', autocomplete)
                                                v-flex.ml-2.pt-2(xs2, md1, v-show='!locationProgress', style='vertical-align: middle;')
                                                    v-fab-transition
                                                        v-btn(color='primary', dark, fab, small, v-on:click='getCurrentLocation')
                                                            v-icon my_location
                                                //v-flex.ml-2(xs6, md1, v-if='locationProgress')
                                                //    v-progress-circular(:indeterminate="true", color='info')

                                            //v-btn(color='primary', v-on:click='getCurrentLocation', v-if='!locationProgress') Get location

                                            v-card.elevation-5.ml-1.mr-3.mb-3
                                                v-progress-linear.py-0.my-0(:indeterminate="true", color='deep-orange darken-3', v-if='locationProgress', height='2')
                                                div(id='div_map', style='width:100%; height:200px;')




                                        v-flex(sm12, xs12)
                                            v-divider.my-3

                                        v-flex(sm12, xs12)
                                            v-card-actions.right
                                                v-btn(color='error', type='button', onclick="window.location.href='/lost'") 뒤로
                                                v-btn(color='info', @click="submitWithAxios()") 제출
                                        //p(class='right')
                                        //div(class=right)
                                            //v-btn(color='info', @click.native="responseDialog = true") Dialog(temp)

                                        //.form-group.ma-0.pt-2
                                        //    v-card-actions.right
                                        //        v-btn(color='error', type='button', onclick="window.location.href='/lost'") Back
                                        //        v-btn(color='info', @click="submitWithAxios") Submit




        include footer
        //include vue_menu_fab

    //include vue_dialog

    v-dialog(v-model='categoryDialog', max-width='500px')
        v-card
            v-card-title.headline Select Category
            v-divider
            v-card-text
                v-layout(wrap)
                    v-layout.mr-1(xs6)
                        v-flex(xs12)
                            v-list(one-line)
                                v-subheader Category 1
                                template(v-for='(item, index) in Object.keys(categoryData)')
                                    v-list-tile(avatar, @click='changeSubCategories(item)', :key='item.name', :color="isSameCategoryData(category, categoryData[item]) ? 'orange darken-2' : '' ")
                                        v-list-tile-content
                                            v-list-tile-title(v-html='categoryData[item].ko', :class="isSameCategoryData(category, categoryData[item]) ? 'title' : '' ")
                                        v-list-tile-action
                                            v-icon(:color="isSameCategoryData(category, categoryData[item]) ? 'orange darken-2' : 'grey'") keyboard_arrow_right
                                    //v-divider(v-if='index + 1 < categories.length', :key='index')

                    v-layout.ml-1(xs6)
                        v-flex(xs12)
                            v-list(one-line)
                                v-subheader Category 2
                                template(v-for='(item, index) in subcategories')
                                    v-list-tile(avatar, @click='subcategory = item; categoryDialog=false', :key='item.name', :color="isSameCategoryData(subcategory, item) ? 'orange darken-2' : '' ")
                                        v-list-tile-content
                                            v-list-tile-title(v-html='item.ko', :class="isSameCategoryData(subcategory, item) ? 'title' : '' ")
            v-divider
            v-card-actions
                v-spacer
                v-btn(color='error', flat='flat', @click.native="categoryDialog = false") Ok

    v-dialog.md6(v-model='responseDialog', persistent, scrollable, max-width='500px')
        //v-layout( wrap, align-center='')
        //v-flex(xs12='', md6='')
        v-card
            v-card-title.headline(icon)
                v-icon.mr-2(color='success') check_circle
                | Successfully Registered
            v-divider.py-0.my-0
            v-card-media(src= image, height='250px')
            v-card-text
                | {{ resSuccessMsg}}
                code.title {{resSuccessCode}}
                //| Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
            v-divider.py-0.my-0
            v-card-actions
                v-spacer
                v-btn(color='green darken-1', flat='flat', href='/lost') Ok
                //v-btn(color='success', flat, @click.native="responseDialog = false") Ok

    v-dialog(v-model='responseErrorDialog', max-width='500px')
        v-card
            v-card-title.headline
                v-icon.mr-2(color='error') error
                | Registration Failure
            v-card-text
                | If you continue to fail, contact the administrator.
            v-card-actions
                v-spacer
                v-btn(color='error', flat='flat', @click.native="responseErrorDialog = false") Ok

    v-dialog(v-model='loginErrorDialog', max-width='500px')
        v-card
            v-card-title.headline
                v-icon.mr-2(color='error') error
                | 로그인 필요
            v-card-text
                | 유실물 등록을 위해 로그인이 필요합니다.
            v-card-actions
                v-spacer
                v-btn(color='error', flat='flat', @click.native="loginErrorDialog = false; loginData.dialog = true") Ok

    script.
        function initMap() {
            console.log('initMap');
            var uluru = {lat: 37.550511, lng: 127.073852};
            var map = new google.maps.Map(document.getElementById('div_map'), {
                zoom: 17,
                center: uluru
            });
            console.log(map);
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCEFVgjGWKUi7iA37ful7Fgkle2nGVzfv8&callback=initMap')

    script(type="text/javascript" src='/javascripts/lost-config.js')
    script.
        const vue = init("#{image}", '#{labels}', '#{texts}', '#{logos}', '!{colors}', '!{category}');
